@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lato',sans-serif;
    background-color: #2F3550;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 8000px;
    margin: auto;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}

.card{
   background-color: #8654A2;
   color: #fff; 
   width: 300px;
   padding: 1rem;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}


.cards .card-container .card{
    padding: 2rem;
    min-height: 22rem;
}

.cards .card-container .card p{
    opacity: 0.5;
    margin: 1px 0 1px 0
}

@media(max-width: 650px){
    .cards{
        margin: 3rem 0;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  background-color:  rgba(0,0,0,0.3);
  min-height: 30px;
}

.card-text h3 {
  text-align: center;
}

.link {
  height: 40px;
  text-decoration: none;
  color: #ccc;
  text-align: center;
  background-color:  rgba(0,0,0,0.3);
}

.link a{
  text-decoration: none;
  color: #ccc;
}
.link a i{
  margin-left: 10px;
  color: #ccc;
}